.corpo
{
    background-color: #272727;
}
body
{
    background-color: #332E33;
    font-family: 'Chakra Petch', sans-serif;
    color:#ffffff;
}
img 
{
    border-radius: 50%;
}
#barraesquerda
{
    border-width: thin;
    border:#29f3c3;
    border-right: solid;
}
.brancofonte
{
    color: white;
    font-size: large;
}

#brancobold
{
    color: white;
    font-size: large;
    font-weight: bold;
    transition: color 0.6s linear;
}
#brancobold:hover
{
    color:#29f3c3;
}
.informacoes
{
    color: white;
    font-size: large;
    transition: color 0.6s linear;
}
.informacoes:hover
{
    color:#29f3c3;
}

.border-button 
{
    border-bottom: solid 5px #29f3c3;
}

.titulocorpo
{
    font-weight: bold;
    font-size: x-large;
}
.subtitulocorpo
{
    margin-bottom: 2px;
    border-bottom:  solid 2px #29f3c3;
    font-weight: lighter;
    font-size: large;
}
.textocorpo
{
    font-size: medium;
}
.animationborder
{
    display: flex;
    justify-content: center;
    transition: border-width 0.1s linear;
    border-bottom: solid 2px #29f3c3;
}
.animationborder:hover
{
    border-width: 5px;
}
.efeito{
    border-left: 0px #29f3c400 solid;
    transition: border-left 0.1s linear;
}
.efeito:hover{
    border-left: 7px #29f3c400 solid;
}
.miniefeito{
    border-left: 0px #29f3c400 solid;
    transition: border-left 0.1s linear;
}
.miniefeito:hover{
    border-left: 3px #29f3c400 solid;
}
.miniefeito2{
    border-left: 0px #ffffff00 solid;
    border-right: 0px #ffffff00 dashed;
    transition: all 0.2s linear;
}
.miniefeito2:hover{
    border-left: 3px #ffffff00 solid;
    border-right: 20px #29f3c3 dotted;
}
.espaco{
    margin-bottom: 8px;
}
a{
    text-decoration: none;
    color: #29f3c3;
    transition: color 0.2s linear;
}
a:hover{
    color: inherit;
}
#dontunderstand:hover{
    cursor: pointer;
}